Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
*.dxf
*.pcd
*.tlog
*.ipch

[Bb]in
*.sbr
obj/
.svn/
.setting/

_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/